# Full svtplay-dl commands to run. Use multiple lines for multiple commands.
SVTPLAY_DL_COMMANDS=svtplay-dl --all-last 1 --subfolder  -o /downloads https://www.svtplay.se/video/KVk3L5d/dips

# Download destination inside the container.
OUTPUT_DIR=/downloads

# Cron-style schedule for repeated runs. Leave empty to run once and exit.
CRON_PATTERN=0 * * * *

# Plex refresh configuration.
# PLEX_URL=http://plex:32400
PLEX_TOKEN=
PLEX_SECTION_ID=

# Pushover notification configuration.
# PUSHOVER_URL=https://api.pushover.net/1/messages.json
PUSHOVER_TOKEN=
PUSHOVER_USER=
